.col{
    vertical-align: top;
    
    //this must be here as the grid makes the font size zero and it is a pain to fix it every time
    font-size: $font-normal;

    display: inline-block;
    width: 100%;
    
    margin: $spacing-smaller 0;

    &.one-half{
        width: 50%;
    }
    &.one-quarter{
        width: 25%;
        padding: 0 $spacing-smaller;
        box-sizing: border-box;
    }

    &.left{
        text-align: left;
    }
    &.right{
        text-align: right;
    }
}

