$wrapperWidth: 1000px;

//the wrapper centers the content on the screen..
.wrapper{
    display: block;
    width: $wrapperWidth;
    margin: $spacing-normal auto; //maybe spacing normal in the future..
}

//the grid system is used to display stuff inside the website in question..
.grid{
    display: block;
    font-size: 0;
    text-align: center;
}