@import "settings/base-settings";

@import "base/breakpoints";
@import "base/mixins";
@import "base/normalize";

@import "palette/palette";
@import "icons/icons";

@import "font/fontBase";

html{
    background: $color3;
    color: $color4;//white;

    font-family: 'Work Sans';
    font-weight: normal;
    font-size: larger;
}