@import "_base.scss";
@import "viola/viola.scss";

.sendButton
{
    transition: border-radius ease-out 0.1s;
    position: relative;
    overflow: hidden;

    width: 100%;
    background: transparent;
    color: $color1;

    border: none;
    border-radius: $spacing-larger;
    
    margin : $spacing-small 0;
    padding: $spacing-smaller;

    font-size: $font-larger;
    text-align: right;

    @include hocus
    {
        background-color: $color5;
        color: $color4;

        border-radius: 0;
    }

    &::after
    {
        content: '';
        display: block;
        position: absolute;

        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        
        opacity: 0;
        transition: all 1s;

        background: white;

        
    }

    &:active::after{
        padding: 0;
        margin: 0;

        opacity: 1;
        transition: 0s;
    }

}

input
{
   box-sizing: border-box; 
   border: 1px solid $color6;
   border-radius: $spacing-large;

   background: $color3;
   color: $color7;

   font-family: "arial","Work Sans";
   padding: $spacing-smaller;
}

input[type=radio]
{
    padding: 0;
}

