@import "_base.scss";
@import "viola/viola.scss";

.sendButton
{
   @extend .flashy-button;

   width: 100%;
   padding: $spacing-smaller;
 
   font-size: $font-larger;
   text-align: right;
   color: $color1;

   border: none;
   background-color: $color3;

   @include hocus()
   {
       background-color: $color5;
       color: $color4;
   }
}

input[type=radio]
{
    &:checked{
        box-shadow: 0 0 0 3px $color6;
        color: red;
    }

    &:hover{
        background: red;
        color: red;;
    }
}

.mailDisplay
{
    font-size: $font-large;
    
    i{
        font-size: $font-larger;
        display: inline;

        border: 1px solid red;
    }
    h2{
        display: inline;
        border: 1px solid red;
    }
    img{
        display: inline;
        box-sizing: border-box;
        border: 2px solid red;
        width: $spacing-larger;
        border-radius: 50%;
    }
}