@import "base.scss";

.contentIntroduction{
    background: $color1;   
}

.wrapper{
    display: block;
    width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;

    //border: 1px solid red; //for debugging purposes
}

.grid{
    display: block;
    font-size: 0;
    text-align: center;
    text-transform: capitalize;
}

.left{
    text-align: right;
}
.right{
    text-align: left;
}

.col{
    display: inline-block;
    width: 100%;

    font-size: $font-normal;
    &>h1{
      margin: 0;
      padding: $spacing-normal 0 0 0;
    }
    &>h2{
        margin: 0;
        padding: $spacing-small;
        font-weight: normal;
    }

    a{
        display: inline-block;
        box-sizing: border-box;
        
        margin: $spacing-small;
        padding: $spacing-normal;
        border: 1px solid $color6;  
        border-radius: $spacing-larger;

       @include hocus()
       {
           background-color: $color6;
           color: $color4;
       }
    }

    &.half{
        width: 50%;
    }
    &.quarter{
        width: 25%;
    }
}
