@import "base.scss";
@import "viola/viola.scss";

.publishGameColumn{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

.publishGameEngineColumn{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

.publishWebsiteColumn{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

.publishWindowsApps{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}