@import "base.scss";
@import "viola/viola.scss";

.publishGameColumn{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

.publishGameEngineColumn{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

.publishWebsiteColumn{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

.publishWindowsApps{
    font-size: $spacing-larger;
    margin: $spacing-normal 0;
}

textarea{
    box-sizing: border-box;
    width: 100%;
    
    background: black;
    color: $color7;

    font-family: sans-serif;
    font-size: $font-normal;
    text-transform: capitalize;

    border: 2px solid $color6;
    border-radius:$spacing-larger;

    padding: $spacing-normal;
    //margin: $spacing-normal;

    resize: none;
}

.sendButton{
    width: 100%;
    background: transparent;
    color: $color1;
    border: none;

    margin: $spacing-small 0;
    padding: $spacing-smaller;

    font-size: $font-larger;
    text-align: right;

    @include hocus{
        background-color: $color5;
        color: $color4;
    }
}