@import "base.scss";
@import "viola/viola.scss";

body{
    position: absolute;
    left: 50%;
    top: 50%;
}

label{
    display: block;
    font-size: $font-large;
    font-family: "Work Sans";
    color: $color4;

    border: 1px solid red;
    margin: $spacing-larger,0;
    padding: $spacing-small;

    background: $color5;
}

input[type=radio]{
    display: none;
}

input[type=radio]:checked+label 
{
    background: purple;
}