/* Error: Undefined variable.
 *    ,
 * 28 |         background: $color6;
 *    |                     ^^^^^^^
 *    '
 *   source\SASS\animation\_shakeAnim.scss 28:21    @import
 *   source\SASS\animation\_animationBase.scss 1:9  @import
 *   source\SASS\_base.scss 12:9                    @import
 *   source\SASS\index-style.scss 1:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 28 \2502          background: $color6;\d\a    \2502                      ^^^^^^^\a    \2575 \a   source\\SASS\\animation\\_shakeAnim.scss 28:21    @import\a   source\\SASS\\animation\\_animationBase.scss 1:9  @import\a   source\\SASS\\_base.scss 12:9                    @import\a   source\\SASS\\index-style.scss 1:9               root stylesheet";
}
