$brilliant-rose: #fc60a8ff;
$blue-gray: #809bceff;
$white: #ffffffff;
$black: #000000ff;

$color1: $white; //predominant light color
$color2: $black; //predominant dark color

$color3: $brilliant-rose; //main theme
$color4: $blue-gray;      //secondary color